@charset "UTF-8";

/* モーダルのスタイル設定 */
.modal {
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	overflow: hidden;
}


.modal-content {
	margin: 5% auto;
	/* 上下中央に配置されるように修正 */
	padding: 20px;
	border: 1px solid #888;
	width: 1200px;
	height: 610px;
	max-width: 1200px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	background-color: #e7f2f4;
	/* スクロールを無効にする */
}

/* modal画面のヘッド部分のスタイル設定 */
.modal-head {
	background: url(../img/2024-08-03_175918-removebg-preview.png),
		linear-gradient(to bottom, #65b06d, #95f08d, #65b06d);
	background-size: 350px;
	position: relative;
	top: -5%;
	left: -3%;
	height: 14%;
	width: 108%;
	padding: 0%;
	margin: 0%;
	font-weight: bold;
}

/* モーダルのタイトル部分（ラベル） */
.modal-title {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 60%;
	text-align: center;
	padding: 0%;
	font-size: 250%;
}

.modal-body {
	position: relative;
	height: 90%;
	width: 100%;
}

.modal-img-disp {
	height: 90%;
	/* 高さを親要素に合わせる */
	aspect-ratio: 1/1;
	object-fit: cover;
	/* 枠内に画像が収まるように調整 */
	object-position: center;
	/* 画像を中央に配置 */
}

/* モーダルのクローズボタンのスタイル設定 */
.close-button {
	z-index: 1;
	position: absolute;
	top: 15%;
	right: 5%;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 50%;
	background-color: #ff5c5c;
	color: white;
	font-size: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s ease;
}

.close-button:hover {
	background-color: #ff1c1c;
}

/* スマホ用のレイアウト（画面幅が1200px以下の場合） */
@media (max-width: 1200px) {

	/*	 モーダルのスタイル設定 */
	/*	.modal {*/
	/*		position: fixed;*/
	/*		z-index: 5;*/
	/*		left: 0;*/
	/*		top: 0;*/
	/*		width: 100%;*/
	/*		height: 100%;*/
	/*		overflow: auto;*/
	/*		background-color: rgb(0, 0, 0);*/
	/*		background-color: rgba(0, 0, 0, 0.4);*/
	/*		overflow: hidden;*/
	/*	}*/

	/*	 トランジション効果 */
	/*	.hidden {*/
	/*		visibility: hidden;*/
	/*		opacity: 0;*/
	/*		transition: opacity 0.5s ease-in-out, visibility 0.2s ease-in-out;*/
	/*	}*/

	/*	.visible {*/
	/*		visibility: visible;*/
	/*		opacity: 1;*/
	/*		transition: opacity 0.5s ease-in-out, visibility 0.2s ease-in-out;*/
	/*	}*/

	.modal-content {
		margin: 25vh auto;
		padding: 20px;
		border: 1px solid #888;
		width: 80%;
		height: 60%;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		background-color: #e7f2f4;
		/* スクロールを無効にする */
	}

	/* modal画面のヘッド部分のスタイル設定 */
	.modal-head {
		background: url(../img/2024-08-03_175918-removebg-preview.png),
			linear-gradient(to bottom, #65b06d, #95f08d, #65b06d);
		background-size: 350px;
		position: relative;
		top: -5%;
		left: -10%;
		height: 14%;
		width: 120%;
		padding: 0%;
		margin: 0 auto;
		font-weight: bold;
	}

	/* モーダルのタイトル部分（ラベル） */
	.modal-title {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		width: 60%;
		text-align: center;
		padding: 0%;
		font-size: 20px;
	}

	.modal-body {
		position: relative;
		height: 90%;
		width: 100%;
	}

	.modal-img-disp {
		height: 90%;
		/* 高さを親要素に合わせる */
		aspect-ratio: 1/1;
		object-fit: cover;
		/* 枠内に画像が収まるように調整 */
		object-position: center;
		/* 画像を中央に配置 */
	}

	/* モーダルのクローズボタンのスタイル設定 */
	.close-button {
		z-index: 1;
		position: absolute;
		top: 15%;
		right: 5%;
		/*		width: 5px;*/
		height: 30px;
		border: none;
		border-radius: 10px;
		background-color: #ff5c5c;
		color: white;
		font-size: 15px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s ease;
	}

	.close-button:hover {
		background-color: #ff1c1c;
	}

}