/* ステータステーブルのレイアウト設定 */
.stats-table {
	width: 100%;
	border-collapse: collapse;
}

.stats-table th,
.stats-table td {
	padding: 8px;
	text-align: center;
	border: 1px solid #ddd;
}

.stats-table th {
	background-color: #4a90e2;
	color: white;
}

.stats-table td {
	background-color: #f5f5f5;
}

/* 検索バーとボタンのスタイル設定 */
.controls {
	text-align: center;
	margin-bottom: 20px;
}

.controls input[type="text"] {
	padding: 10px;
	width: 300px;
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
	outline: none;
	transition: all 0.3s ease;
}

.controls input[type="text"]:focus {
	border-color: #4a90e2;
	box-shadow: 0 0 10px rgba(74, 144, 226, 0.2);
}

.controls button {
	padding: 10px 20px;
	margin-right: 10px;
	border: none;
	border-radius: 20px;
	background-color: #4a90e2;
	color: white;
	cursor: pointer;
	font-size: 1em;
	outline: none;
	transition: background-color 0.3s ease;
}

.controls button:hover {
	background-color: #357ABD;
}

/* テーブルコンテナのスタイル設定 */
.table-container {
	width: 90%;
	margin: 0 auto;
	height: 575px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	position: relative;
	overflow-y: auto;
}

/* タイプラベルのスタイル設定 */
.type-label-list {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 12px;
	color: white;
	font-weight: bold;
	text-transform: capitalize;
	width: 80%;
}

/* テーブルのスタイル設定 */
table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	font-size: 1em;
	margin-top: 0;
}

/*テーブルヘッダーのスタイル設定*/
thead {
	background-color: #4a90e2;
	color: white;
	position: sticky;
	top: 0;
	z-index: 1;
}

th,
td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	word-wrap: break-word;
	text-align: center;
	margin: 0;
}

th {
	background-color: #4a90e2;
	color: white;
	cursor: pointer;
	transition: all 0.3s ease;
}

th:hover {
	background-color: #357ABD;
}

tbody tr:hover {
	background-color: #e9e9e9;
}

img {
	display: block;
	margin: 0 auto;
	border-radius: 10px;
}

/* 列の幅設定 */
th.code,
td.code {
	width: 80px;
}

th.name,
td.name {
	width: 150px;
}

th.type1,
td.type1,
th.type2,
td.type2 {
	width: 100px;
}

th.image,
td.image {
	width: 100px;
}

th.hp,
td.hp,
th.attack,
td.attack,
th.defense,
td.defense,
th.special-attack,
td.special-attack,
th.special-defense,
td.special-defense,
th.speed,
td.speed {
	width: 70px;
}

.image img {
	max-width: 80px;
	height: auto;
}

/* ページネーションのスタイル設定 */
.pagination {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.pagination button {
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	background-color: #4a90e2;
	color: white;
	cursor: pointer;
	margin: 0 5px;
	font-size: 1em;
	outline: none;
	transition: background-color 0.3s ease;
}

.pagination button:hover {
	background-color: #357ABD;
}

.current-page {
	background-color: #2a5ad2 !important;
	transform: scale(1.2);
}

/* スマホ用のレイアウト（画面幅が1200px以下の場合） */
@media (max-width: 1200px) {

	.phone-none {
		display: none;
	}

	/*	 ステータステーブルのレイアウト設定 */
	.stats-table {
		width: 100%;
		border-collapse: collapse;
	}

	.stats-table th,
	.stats-table td {
		padding: 8px;
		text-align: center;
		border: 1px solid #ddd;
	}

	.stats-table th {
		background-color: #4a90e2;
		color: white;
	}

	.stats-table td {
		background-color: #f5f5f5;
	}

	/* 検索バーとボタンのスタイル設定 */
	.controls {
		text-align: center;
		margin-bottom: 20px;
	}

	.controls input[type="text"] {
		padding: 10px;
		width: 30%;
		margin-right: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		outline: none;
		transition: all 0.3s ease;
	}

	.controls input[type="text"]:focus {
		border-color: #4a90e2;
		box-shadow: 0 0 10px rgba(74, 144, 226, 0.2);
	}

	.controls button {
		padding: 2px 5px;
		margin-right: 10px;
		border: none;
		border-radius: 5px;
		background-color: #4a90e2;
		color: white;
		cursor: pointer;
		font-size: 1em;
		outline: none;
		transition: background-color 0.3s ease;
	}

	.controls button:hover {
		background-color: #357ABD;
	}

	/*	 テーブルコンテナのスタイル設定 */
	.table-container {
		width: 90%;
		margin: 0 auto;
		height: calc(65vh - 100px);
		background-color: white;
		border: 1px solid #ddd;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		position: relative;
		overflow-y: auto;
	}

	/* 列の幅設定 */
	th.code,
	td.code {
		width: 50px;
	}

	th.name,
	td.name {
		width: 60px;
	}

	th:hover {
		background-color: #357ABD;
	}

	tbody tr:hover {
		background-color: #e9e9e9;
	}

	th,
	td {
		padding: 6px 2px;
		text-align: left;
		border-bottom: 1px solid #ddd;
		word-wrap: break-word;
		text-align: center;
		margin: 0;
	}

	/*	 テーブルのスタイル設定 	*/
	table {
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
		font-size: 10px;
		margin-top: 0;
	}

	th.type1,
	td.type1,
	th.type2,
	td.type2 {
		width: 60px;
	}

	th.image,
	td.image {
		width: 80px;
	}

	th.hp,
	td.hp,
	th.attack,
	td.attack,
	th.defense,
	td.defense,
	th.special-attack,
	td.special-attack,
	th.special-defense,
	td.special-defense,
	th.speed,
	td.speed {
		width: 70px;
	}

	.image img {
		max-width: 50px;
		height: auto;
	}

	/* ページネーションのスタイル設定 */
	.pagination {
		display: flex;
		text-align: center;
		margin: 10px auto;
		font-size: 10px;
		padding: 0;
		justify-content: center;
		/*		水平方向の中央揃え */
		align-items: center;
		/* 垂直方向の中央揃え */
		text-align: center;
		margin-bottom: 200px;
	}

	.pagination button {
		padding: 5px 10px;
		border: none;
		border-radius: 10px;
		background-color: #4a90e2;
		color: white;
		cursor: pointer;
		margin: 0 5px;
		font-size: 1em;
		outline: none;
		transition: background-color 0.3s ease;
	}

	.pagination button:hover {
		background-color: #357ABD;
	}


	/* タイプラベルのスタイル設定 */
	.type-label-list {
		display: inline-block;
		padding: 1px 1px;
		border-radius: 5px;
		color: white;
		font-weight: bold;
		text-transform: capitalize;
		width: 80%;
		font-size: 8px;
	}

}