@charset "UTF-8";

.section-1 {
	width: 1500px;
	height: 440px;
	padding: 0%;
	border: none;
	/*	background-color: #666666;*/
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	transform: translateX(0%);
}

.section-1 .part-1 {
	width: 900px;
	padding: 10px;
	margin: 0px 55px 0px 0px;
	border: none;
	background: linear-gradient(to bottom right, #6a6add, #4a40dd);
	border-radius: 10px;
	display: grid;
	/* 2列 */
	grid-template-rows: repeat(2, 1fr);
	/* 5行 */
	grid-template-columns: repeat(5, 1fr);
	/* アイテム間の間隔 */
	gap: 10px;
}

.random-pkmn {
	display: flex;
	justify-content: center;
	/* 水平方向の中央揃え */
	align-items: center;
	/* 垂直方向の中央揃え */
	text-align: center;
	color: #FFF;
	/*	border: 3px dashed #ddaa00;*/
	padding: 10px;
	margin: 0px;
	border-radius: 10px;
}

.select-card {
	width: 135px;
	height: 180px;
	position: relative;
	transform-style: preserve-3d;
	transform-origin: center;
	/* 回転の基準をカードの中心に設定 */
	transition: transform 2.5s;
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: white;
	border: solid;
	border-color: #FFD700;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.front {
	background: linear-gradient(to bottom right, #FFD700, #FFEC8B);
}

.back {
	/*    background-color: #dddddd;*/
	transform: rotateY(180deg);
}

.rental-pkmn-atk {
	background: url(../img/atk-pkmn-card.png),
		linear-gradient(to bottom right, #eeaaaa, #ff8888);
}

.rental-pkmn-df {
	background: url(../img/df-pkmn-card.png),
		linear-gradient(to bottom right, #aaaaee, #8888ff);
}

.rental-pkmn-sap {
	background: url(../img/sap-pkmn-card.png),
		linear-gradient(to bottom right, #99cc99, #66cc66);
}

.rental-pkmn-roman {
	background: url(../img/roman-pkmn-card.png),
		linear-gradient(to bottom right, #777777, #444444);
}

.part-2 {
	width: 510px;
	padding: 0%;
	border: none;
	/*	background-color: #6add6a;*/
	display: flex;
	flex-direction: column;
}

.pick-explain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* 水平方向の中央揃え */
	align-items: center;
	/* 垂直方向の中央揃え */
	height: 60px;
	padding: 0%;
	border: none;
	color: #ffffff;
	background: linear-gradient(to bottom right, #babadd, #8a80dd);
	border-radius: 10px 10px 0px 0px;
	font-weight: bold;
	font-size: 25px;
}

.pick-pkmn-list {
	height: 380px;
	padding: 0%;
	border: none;
	background: linear-gradient(to bottom right, #6a6add, #4a40dd);
	border-radius: 0px 0px 10px 10px;
	display: grid;
	/* 2列 */
	grid-template-rows: repeat(2, 1fr);
	/* 5行 */
	grid-template-columns: repeat(3, 1fr);
	/* アイテム間の間隔 */
	gap: 0px;
}

.pick-pkmn {
	display: flex;
	justify-content: center;
	/* 水平方向の中央揃え */
	align-items: center;
	/* 垂直方向の中央揃え */
	text-align: center;
	/*    background-color: #dd1b1b;*/
	color: #FFF;
	background: url(../img/pick-pkmn-back.png),
		linear-gradient(to bottom right, #eeeeee, #bbccee);
	/*	border: 3px dashed #aaa;*/
	border-radius: 10px;
	padding: 0px;
	margin: 20px;
}

.section-2 {
	width: 1500px;
	height: 12%;
	padding: 0%;
	border: none;
	/*	background-color: #dd5c5c;*/
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 150px;
}

.user-select-button {
	width: 500px;
	padding: 0%;
	border: none;
	background-color: #aabbcc;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 20px;
}



/* スマホ用のレイアウト（画面幅が1200px以下の場合） */
@media (max-width: 1200px) {

	.pc-disp-only {
		display: none !important;
	}

	.section-1 {
		flex-direction: column;
		width: 100%;
		height: 440px;
		padding: 0%;
		border: none;
		/*	background-color: #666666;*/
		display: flex;
		justify-content: center;
		text-align: center;
		transform: translateX(0%);
	}

	.section-1 .part-1 {
		overflow-x: scroll;
		width: 180px;
		height: 200px;
		padding: 10px 90px;
		margin: 0 auto;
		border: none;
		background: linear-gradient(to bottom right, #6a6add, #4a40dd);
		border-radius: 10px;
		display: flex;
		/* アイテム間の間隔 */
		justify-content: flex-start;
		/*		水平方向の中央揃え */
		align-items: center;
		/* 垂直方向の中央揃え */
		text-align: center;
		gap: 10px;
	}

	/*	.first-card {*/
	/*		margin-left: 83px !important;*/
	/*	}*/

	/*	.last-card {*/
	/*		margin-right: 83px !important;*/
	/*		background-color: #ffffff;*/
	/*	}*/

	.random-pkmn {
		width: 300px;
		display: flex;
		justify-content: center;
		/* 水平方向の中央揃え */
		align-items: center;
		/* 垂直方向の中央揃え */
		text-align: center;
		color: #FFF;
		/*	border: 3px dashed #ddaa00;*/
		padding: 30px;
		margin: 0px;
		border-radius: 10px;
	}

	.select-card {
		width: 135px;
		height: 180px;
		position: relative;
		transform-origin: center;
		/* 回転の基準をカードの中心に設定 */
		transition: transform 0.35s ease;
		transform-style: preserve-3d;
	}

	.front,
	.back {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		color: white;
		border: 0.5px solid #FFD700;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}

	.front {
		background: linear-gradient(to bottom right, #FFD700, #FFEC8B);
	}

	.back {
		/*    background-color: #dddddd;*/
		transform: translateY(180deg);
	}

	.rental-pkmn-atk {
		background: url(../img/atk-pkmn-card.png),
			linear-gradient(to bottom right, #eeaaaa, #ff8888);
	}

	.rental-pkmn-df {
		background: url(../img/df-pkmn-card.png),
			linear-gradient(to bottom right, #aaaaee, #8888ff);
	}

	.rental-pkmn-sap {
		background: url(../img/sap-pkmn-card.png),
			linear-gradient(to bottom right, #99cc99, #66cc66);
	}

	.rental-pkmn-roman {
		background: url(../img/roman-pkmn-card.png),
			linear-gradient(to bottom right, #777777, #444444);
	}

	.part-2 {
		width: 70%;
		padding: 0%;
		border: none;
		/*	background-color: #6add6a;*/
		display: flex;
		flex-direction: column;
		margin: 10px auto;
	}

	.pick-explain {
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* 水平方向の中央揃え */
		align-items: center;
		/* 垂直方向の中央揃え */
		height: 60px;
		padding: 10px auto;
		border: none;
		color: #ffffff;
		background: linear-gradient(to bottom right, #babadd, #8a80dd);
		border-radius: 10px;
		font-weight: bold;
		font-size: 25px;
	}

	.pick-pkmn-list {
		height: 90%;
		width: 90%;
		padding: 0%;
		border: none;
		background: transparent;
		border-radius: 0px 0px 10px 10px;
		display: grid;
		/* 2列 */
		grid-template-rows: repeat(3, 1fr);
		/* 5行 */
		grid-template-columns: repeat(2, 1fr);
		/* アイテム間の間隔 */
		gap: 0px;
	}

	.pick-pkmn {
		display: flex;
		justify-content: center;
		/* 水平方向の中央揃え */
		align-items: center;
		/* 垂直方向の中央揃え */
		text-align: center;
		/*    background-color: #dd1b1b;*/
		color: #FFF;
		background: url(../img/pick-pkmn-back.png),
			linear-gradient(to bottom right, #eeeeee, #bbccee);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 10px;
		padding: 0px;
		margin: 5px;
		pointer-events: none;
	}

	.section-1-5 {
		width: 100%;
		height: 6%;
		padding: 0%;
		border: none;
		/*	background-color: #dd5c5c;*/
		display: flex;
		justify-content: center;
		text-align: center;
		margin: 0 auto;
		margin-top: -50px;
		margin-bottom: 40px;
	}

	.section-2 {
		width: 100%;
		height: 12%;
		padding: 0%;
		border: none;
		/*	background-color: #dd5c5c;*/
		display: flex;
		justify-content: center;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 100px;
	}

	.user-select-button {
		width: 500px;
		padding: 0%;
		border: none;
		background-color: #aabbcc;
		display: flex;
		justify-content: center;
		text-align: center;
		margin: 20px;
	}

	.phone-choose {
		width: 100px;
		height: 133px;
		/*		filter: brightness(0.8);*/
	}

	.phone-center-choose {
		transform: rotateY(180deg) scale(1.6);
		/*		filter: brightness(1.0);*/
		/* widthとheightの変更にアニメーションを設定 */
	}

	.phone-side-choose {
		transform: rotateY(180deg) scale(1.0);
	}

	.phone-show {
		transform: rotateY(180deg);
	}
	
	.pkmn-list-contents {
		display: flex;
		/*	padding: 20px;*/
		border: none;
		/*	background-color: #666666;*/
		justify-content: center;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 0px;
	}
}